.hero{
    margin-top: 5px;
    height: 100vh;
    display: flex;
}
.heroleft{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heroleft h1{
    margin-left: -270px;
    font-weight: 400;
    font-size: 25px;
}
.heroright{
    flex: 1;
}
.heroright img{
    height: 100%;
}
.hand{
    display: flex;
    flex-direction: column;
}
.hand img{
    margin-left: 15px;
}
.hand p,span{
    font-size: 80px;
}
.hand img{
    height: 5em;
    width: 5em;
}